body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.header-top {
  background: linear-gradient(to right, #0170b3, #211a3c);
  color: #fff;
  margin: 0;
  border-bottom: 1px solid #a5b0bb;
}

.contact-info {
  display: flex;
  padding: 8px;
  margin-bottom: 0;
}

.contact-info li a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
}

ul li {
  margin-right: 2rem;
  list-style: none;
  font-size: 0.85rem;
}

span {
  margin-right: 0.5rem;
}

.navbar-toggler {
  border: none !important;
}

.navbar {
  background: #fff !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.dropdown-menu {
  background: #fff;
}

.dropdown-menu .dropdown-item {
  color: #003265;
  font-weight: 400;
}

.dropdown-menu .dropdown-item:hover {
  background: #fff;
  color: #003265;
}


.nav-link {
  line-height: 1rem;
}

.nav-item .nav-link {
  font-weight: 550;
  font-size: 1rem;
  color: #003265;
}

/* carousel */

/* .d-block {
  height: 540px;
} */


/* about section */

#about {
  padding: 60px 0;
}

.heading-about {
  font-weight: 600;
  margin-bottom: 1rem;
  /* border-bottom: 4px double #000; */
  padding-bottom: 15px;
  color: #003265;
}

.name {
  color: #003265;
}

.para-about {
  line-height: 1.65rem;
}

.img-about {
  margin-top: 3rem;
}


/* solution */

#solution {
  background-image: url(https://www.kshitiztech.com/images/bg/bg1.jpg);
  background-size: cover;
  padding: 40px 0;
}

.dropdown-menu {
  border: none;
}

.dropdown-menu .dropdown-item {
  margin-bottom: 0.75rem;
}

.solution-heading {
  font-weight: 600;
  margin-bottom: 2rem;
}

.bg-white {
  padding: 70px 20px;
}

.card-body a {
  text-decoration: none;
  font-weight: 600;
}

.card-title {
  font-weight: 750;
}

.card-img-top {
  width: 12rem !important;
  margin: 0 auto;
}

.card {
  border: none !important;
}


/* footer styles starts here */

.footer {
  color: #fff;
  padding: 60px 0;
  background: linear-gradient(to right, #0170b3, #211a3c);
  border-radius: 200px 0px 0px 0px;
}

.footer-heading {
  font-weight: 700;
}

.text-grey {
  text-decoration: none;
  color: #fff;
}

.footer-para {
  line-height: 1.75rem;
  margin-bottom: 0;
}

.social-icons {
  margin-left: 35px;
}

.footer-li {
  font-size: 1rem;
}

.footer-ul {
  margin-left: -30px;
}

.footer-ul .footer-li {
  margin-bottom: 0.8rem;
  font-size: 1rem;
}

.last-footer {
  border-top: 1px dotted #dbdbdb;
  background: linear-gradient(to right, #0170b3, #211a3c);
  color: #fff;
  padding: 15px 0;
}

.copy-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  font-size: 0.8rem;
}




@keyframes moveUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

/* .circles {
  position: relative;
  height: 200px; /* Adjust the height as needed */
/* } */

/* .circles-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.circles-item {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  animation: moveUp 5s linear infinite;
}

.circles-item:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  bottom: 0;
  animation-delay: 0s;
}

.circles-item:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
} */

@media(max-width:800px) {
  .d-block {
    height: 210px;
  }

  .footer {
    border-radius: 100px 0 0 0;
  }

  .card {
    margin-top: 20px;
  }
}


/* our clients section */

.ourclient {
  padding: 60px 0;
}

.ourclient .container {
  overflow: hidden;

  .slider {
    animation: slidein 20s linear infinite;
    white-space: nowrap;

    .logos {
      width: 100%;
      display: inline-block;
      margin: 0px 0;

      .fab {
        width: calc(100% / 7);
        animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
      }
    }
  }
}

@keyframes slidein {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}